  <!-- views/partials/footer.ejs -->
  </body>
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2018 <a href="https://tripleoklaw.com/">tripleoklaw.com</a></p>
    </div>
</footer>
</html>
