<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Tripleoklaw Advocates
            </a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/adduser">Add User</a></li>
            <li><a href="/adduser/users">List User</a></li>
            <li><a href="/addteam">Add Team</a></li>
            <li><a href="/addteam/teams">List Team</a></li>
            <li><a href="/add-user-team">Add Team-user</a></li>
            <li><a href="/add-user-team/team-user">List Team-user</a></li>
            <li><a href="/logdoc">Log Docs</a></li>
            <li><a href="/logdoc/list">List of Docs</a></li>
        </ul>
    </div>
</nav>
