<% include partials/header %>
<% include partials/nav %>
<section name="jumbotron"  >
  <div class="jumbotron text-left">
      <h1><%= title %></h1>
      <p>Welcome to Tripleoklaw Advocates</p>
  </div>
</section>
<% include partials/footer %>
