<% include partials/header %>
<% include partials/nav %>
  <section name="jumbotron"  >
    <div class="jumbotron text-left">
        <h1><%= title %></h1>
    </div>
</section>
  <ul>
    <% users.forEach(function(user){ %>
    <li><%= user.fname %> <%= user.lname %></li>
    <% }) %>
  </ul>
<% include partials/footer %>
