<% include partials/header %>
<% include partials/nav %>
  <section name="jumbotron"  >
    <div class="jumbotron text-left">
        <h1><%= title %></h1>
    </div>
  </section>

  <ul>
    <% teams.forEach(function(team){ %>
      <li><%= team.team_no %> <%= team.team_name%> <button type="button" class="userteambtn" name="button"><a href="/add-user-team">assign user</a></button></li>
    <% }) %>
  </ul>
<% include partials/footer %>
